/********** COLORS ************/
/****** BOX SHADOW ******/
/******** RADIUS *********/
@keyframes blink {
  80% {
    color: transparent; } }
.loader__dot {
  animation: 1.5s blink infinite; }

.loader__dot:nth-child(2) {
  animation-delay: 250ms; }

.loader__dot:nth-child(3) {
  animation-delay: 500ms; }

@keyframes wiggle {
  0% {
    transform: translate(2px, 0); }
  50% {
    transform: translate(-2px, 0); }
  100% {
    transform: translate(2px, 0); } }
@media screen and (max-width: 400px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif; }
    body a {
      text-decoration: none;
      color: #1d1d1d; }

  header {
    display: inline-flex;
    width: 100%;
    height: 50px; }
    header h1 {
      display: flex;
      font-family: Shrikhand;
      font-weight: 200;
      justify-content: space-between;
      width: 75%;
      margin: 0; }
      header h1 i {
        width: 50px;
        height: 30px;
        font-size: x-large;
        padding: 10px;
        z-index: 10; }

  main {
    width: 100%;
    background-color: #f2f2f2; }
    main img {
      width: 100%;
      height: 280px;
      object-fit: cover; }

  .mainContent {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 2rem;
    position: relative;
    top: -55px;
    background-color: #f2f2f2; }
    .mainContent h1 {
      display: inline-flex;
      justify-content: space-between;
      font-family: shrikhand;
      font-weight: 200;
      font-size: 25px;
      width: 90%;
      padding: 0px 20px; }
    .mainContent i:hover {
      font-weight: 600;
      color: #9356DC; }
      .mainContent i:hover:focus {
        color: #9356DC; }

  .menu {
    padding: 0rem 2rem 2rem 2rem; }
    .menu h3 {
      width: 12%;
      font-size: medium;
      font-weight: 300;
      border-bottom: #99E2D0 3px solid;
      text-transform: uppercase; }
    .menu article {
      width: 100%;
      height: 3.5rem;
      background-color: white;
      box-shadow: 0px 0px 10px #d6d6d6;
      border-radius: 1rem; }
      .menu article p {
        display: flex;
        flex-direction: column;
        padding: 0.8rem; }
        .menu article p span {
          font-size: smaller; }
        .menu article p b {
          position: absolute;
          right: 40px;
          color: #3a3a3a;
          font-size: 14px;
          margin-top: 20px;
          margin-right: 15px; }
      .menu article .wiggle {
        position: absolute;
        right: 36px;
        border-radius: 0rem 1rem 1rem 0rem;
        transition: opacity, 0.5s ease; }
        .menu article .wiggle i {
          color: black;
          font-size: x-large;
          margin: 1rem; }
        .menu article .wiggle:hover {
          animation: wiggle 1s;
          animation-fill-mode: forwards; }

  .checkout {
    display: flex;
    height: 50px;
    background: #ff79da;
    background: linear-gradient(175deg, #ff79da 19%, #9356dc 100%);
    box-shadow: 0px 10px 15px #b4b4b4;
    width: 50%;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: auto; }
    .checkout p {
      width: 100%;
      line-height: 20px;
      font-size: medium;
      color: white; }

  footer {
    background-color: #353535;
    color: white;
    padding: 20px; }
    footer h3 {
      font-family: 'Shrikhand', cursive;
      font-weight: 400;
      margin-left: 0.5rem;
      margin-top: 0; }
    footer p {
      margin: 10px; }
    footer i {
      padding: 0px 15px 5px 0px;
      width: 1rem; } }

/*# sourceMappingURL=page.css.map */
