/********** COLORS ************/
/****** BOX SHADOW ******/
/******** RADIUS *********/
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  max-width: 400px; }

header {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee; }
  header h1 {
    display: inline-flex;
    justify-content: center;
    font-family: Shrikhand;
    font-weight: 400;
    margin: 0;
    background-color: white;
    z-index: 1; }

.location {
  display: inline-flex;
  justify-content: center;
  color: #4d4d4d;
  background-color: #ebebeb;
  height: 50px;
  font-size: medium;
  font-weight: 600;
  -webkit-box-shadow: inset 0px 9px 6px -8px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0px 9px 6px -8px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0px 9px 6px -8px rgba(0, 0, 0, 0.35); }
  .location i {
    padding: 0px 0.5rem;
    margin-left: -20px; }
  .location p {
    line-height: 25px; }

.menuExplorer {
  display: flex;
  flex-flow: column;
  background-color: #f6f6f6;
  padding: 20px 4rem; }
  .menuExplorer p {
    font-weight: 600;
    font-size: 1.5rem; }
  .menuExplorer span, .menuExplorer p {
    text-align: center; }
  .menuExplorer button {
    width: 70%;
    margin: 20px auto;
    height: 50px;
    border-radius: 2rem;
    border: 0ch;
    background: #ff79da;
    background: linear-gradient(180deg, #ff79da 20%, #9356dc 90%);
    color: white;
    box-shadow: 0px 5px 5px #c6c6c6;
    font-weight: 300; }

.functionContainer {
  padding: 0.5rem; }

.functionList {
  display: flex;
  flex-direction: column; }
  .functionList p {
    margin: 1rem 2rem;
    padding: 20px 0px 20px 0px;
    background-color: #f3f3f3;
    height: 30px;
    border-radius: 1.3rem;
    box-shadow: 0px 5px 5px #c6c6c6;
    font-weight: 500; }
  .functionList span {
    margin: 0px 25px 0px -12.5px;
    background-color: #9356DC;
    color: white;
    border-radius: 2rem;
    padding: 4px 8px;
    height: 10px;
    width: 10px;
    font-size: small;
    font-weight: 400; }
  .functionList i {
    font-size: 18px;
    padding: 0rem 1rem 0rem 0rem;
    line-height: 30px;
    width: 1.5rem;
    color: #585858; }
  .functionList :nth-child(3) {
    background-color: #f4ecfd; }
    .functionList :nth-child(3) i {
      color: #9356DC; }

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #f7f7f7; }
  .restaurant article {
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #dadada;
    margin-bottom: 1rem; }
  .restaurant img {
    width: 100%;
    object-fit: cover;
    height: 190px;
    border-radius: 1rem 1rem 0rem 0rem; }
  .restaurant figcaption, .restaurant h3, .restaurant p {
    margin: 10px; }

footer {
  background-color: #353535;
  color: white;
  padding: 20px; }
  footer h3 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    margin-left: 0.5rem;
    margin-top: 0; }
  footer p {
    margin: 10px; }
  footer i {
    padding: 0px 15px 5px 0px;
    width: 1rem; }

/*# sourceMappingURL=style.css.map */
